@font-face {
    font-family: 'YaMerriweather';
    src: url('subset-Merriweather24pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YaMerriweather';
    src: url('subset-Merriweather24pt-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YaMerriweather';
    src: url('subset-Merriweather24pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
