body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', Roboto, 'Segoe UI', Arial, sans-serif;
}

pre,
code,
kbd,
samp {
    /* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
}

pre {
    margin: 10px 0;
}

code {
    color: #bd0000;
    background-color: #f5f2f0;
    border-radius: 3px;
    padding: 2px 5px;
}

:not(pre) > code:not([class*="language-"]),
code:not([class*="language-"]) {
    white-space: nowrap;
}

var {
    font-family: Georgia;
}

strong,
b {
    font-weight: bold;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    display: block;
    padding: 10px 10px 10px 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.nav__scroll {
    height: 100%;
    width: 100%;    
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 5px 15px 0;
}

.nav__scroll::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.nav__scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.nav__scroll::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    outline: #333 solid 1px;
    border-radius: 3px;
}

.nav__title {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
}

.nav__list-toplevel,
.nav__list-toplevel > li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__list-toplevel {
    list-style: none;
    margin-top: 5px;
}

.nav__list-toplevel > li {

}

.nav__link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 0;
}

.nav__link,
.nav__link:active,
.nav__link:hover,
.nav__link:focus {
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
}

.nav__link,
.nav__link:focus {
    color: #777;
}

.nav__link:hover,
.nav__link:active,
.nav__link.nav__link_current {
    color: #333;
}

.nav__list-toplevel + .nav__title {
    margin-top: 20px;
}



/**/

.article {
    padding: 60px 85px;
    display: none;
}

.article_current {
    display: block;
}

.article h2:not(:first-child) {
    margin-top: 50px;
}

.article h3:not(:first-child) {
    margin-top: 20px;
}


/**/

.pre {
    white-space: pre-line;
    margin: 0;
}

.text-semibold {
    font-weight: 600;
}

.spoiler {
    display: none;
}

.spoiler_opened {
    display: block;
}